@font-face {
  font-family: 'zvoove';
  src:
    url('fonts/zvoove.ttf?p6jjxi') format('truetype'),
    url('fonts/zvoove.woff?p6jjxi') format('woff'),
    url('fonts/zvoove.svg?p6jjxi#zvoove') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.zic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zvoove' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zic-person:before {
  content: "\e916";
}
.zic-check:before {
  content: "\e917";
}
.zic-spin:before {
  content: "\e915";
}
.zic-trash:before {
  content: "\e914";
}
.zic-close:before {
  content: "\e912";
}
.zic-search:before {
  content: "\e913";
}
.zic-plane:before {
  content: "\e900";
}
.zic-at:before {
  content: "\e901";
}
.zic-linkedin:before {
  content: "\e902";
}
.zic-xing:before {
  content: "\e903";
}
.zic-whatsapp:before {
  content: "\e904";
}
.zic-facebook:before {
  content: "\e905";
}
.zic-arrow-up:before {
  content: "\e906";
}
.zic-arrow-left:before {
  content: "\e907";
}
.zic-arrow-right:before {
  content: "\e908";
}
.zic-arrow-down:before {
  content: "\e909";
}
.zic-star-filled:before {
  content: "\e90a";
}
.zic-star:before {
  content: "\e90b";
}
.zic-bookmark-filled:before {
  content: "\e90c";
}
.zic-bookmark:before {
  content: "\e90d";
}
.zic-business:before {
  content: "\e90e";
}
.zic-work:before {
  content: "\e90f";
}
.zic-calendar:before {
  content: "\e910";
}
.zic-pin:before {
  content: "\e911";
}
