@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?p6jjxi') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?p6jjxi') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?p6jjxi##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.zic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zic-person {
  &:before {
    content: $zic-person; 
  }
}
.zic-check {
  &:before {
    content: $zic-check; 
  }
}
.zic-spin {
  &:before {
    content: $zic-spin; 
  }
}
.zic-trash {
  &:before {
    content: $zic-trash; 
  }
}
.zic-close {
  &:before {
    content: $zic-close; 
  }
}
.zic-search {
  &:before {
    content: $zic-search; 
  }
}
.zic-plane {
  &:before {
    content: $zic-plane; 
  }
}
.zic-at {
  &:before {
    content: $zic-at; 
  }
}
.zic-linkedin {
  &:before {
    content: $zic-linkedin; 
  }
}
.zic-xing {
  &:before {
    content: $zic-xing; 
  }
}
.zic-whatsapp {
  &:before {
    content: $zic-whatsapp; 
  }
}
.zic-facebook {
  &:before {
    content: $zic-facebook; 
  }
}
.zic-arrow-up {
  &:before {
    content: $zic-arrow-up; 
  }
}
.zic-arrow-left {
  &:before {
    content: $zic-arrow-left; 
  }
}
.zic-arrow-right {
  &:before {
    content: $zic-arrow-right; 
  }
}
.zic-arrow-down {
  &:before {
    content: $zic-arrow-down; 
  }
}
.zic-star-filled {
  &:before {
    content: $zic-star-filled; 
  }
}
.zic-star {
  &:before {
    content: $zic-star; 
  }
}
.zic-bookmark-filled {
  &:before {
    content: $zic-bookmark-filled; 
  }
}
.zic-bookmark {
  &:before {
    content: $zic-bookmark; 
  }
}
.zic-business {
  &:before {
    content: $zic-business; 
  }
}
.zic-work {
  &:before {
    content: $zic-work; 
  }
}
.zic-calendar {
  &:before {
    content: $zic-calendar; 
  }
}
.zic-pin {
  &:before {
    content: $zic-pin; 
  }
}

