$icomoon-font-family: "zvoove" !default;
$icomoon-font-path: "fonts" !default;

$zic-person: "\e916";
$zic-check: "\e917";
$zic-spin: "\e915";
$zic-trash: "\e914";
$zic-close: "\e912";
$zic-search: "\e913";
$zic-plane: "\e900";
$zic-at: "\e901";
$zic-linkedin: "\e902";
$zic-xing: "\e903";
$zic-whatsapp: "\e904";
$zic-facebook: "\e905";
$zic-arrow-up: "\e906";
$zic-arrow-left: "\e907";
$zic-arrow-right: "\e908";
$zic-arrow-down: "\e909";
$zic-star-filled: "\e90a";
$zic-star: "\e90b";
$zic-bookmark-filled: "\e90c";
$zic-bookmark: "\e90d";
$zic-business: "\e90e";
$zic-work: "\e90f";
$zic-calendar: "\e910";
$zic-pin: "\e911";

