{namespace zv=Nng\Zvoove\ViewHelpers}

<!--
	=======================================================
	EXT:zvoove/Resources/Private/Partials/Show/Index.html
-->

<div class="zv-bg-grey nn-px-3 nn-p-md-10">

	{f:render(partial:'Common/Elements', section:'nav-back')}

	<div class="nn-d-md-flex">

		<div class="zv-single-header">
			<h1>{item.title}</h1>
	
			<f:if condition="{item.location}">
				<h2>{item.location}</h2>
			</f:if>
		</div>
	
		<div class="nn-ms-md-auto nn-mb-5 nn-mt-2">
			{f:render(partial:'Common/Share', arguments:_all)}
		</div>

	</div>


	<div class="nn-row">
		<div class="nn-col-md-6 nn-pb-7">
		
			<div class="nn-mb-7">
				<f:if condition="{item.data.StellenzielHeader}">
					{item.data.StellenzielHeader->f:format.html()}
				</f:if>
	
				<f:if condition="{item.data.Stellenziel}">
					{item.data.Stellenziel->f:format.raw()}
				</f:if>
				
				<f:if condition="{item.data.Aufgaben}">
					{item.data.Aufgaben->f:format.raw()}
				</f:if>

				<f:if condition="{item.data.FachlicheAnforderungen}">
					{item.data.FachlicheAnforderungen->zv:format.clean()->f:format.raw()}
				</f:if>

				<f:if condition="{item.data.PersoenlicheAnforderungen}">
					{item.data.PersoenlicheAnforderungen->zv:format.clean()->f:format.raw()}
				</f:if>
				
				<f:if condition="{item.data.KontaktText}">
					{item.data.KontaktText->zv:format.clean()->f:format.raw()}
				</f:if>
				
			</div>
	
			{f:render(partial:'Common/Elements', section:'btn-apply', arguments:_all)}

		</div>
		
		<div class="nn-col-md-6 nn-pb-7">

			<div class="nn-pb-7">
				<f:if condition="{item.firstImage}">
					<f:then>
						<f:image image="{item.firstImage}" maxWidth="880" alt="{item.title}" class="nn-img-fluid" />
					</f:then>
					<f:else>
						<f:image src="{item.previewImage}" maxWidth="880" alt="{item.title}" class="nn-img-fluid" />
					</f:else>
				</f:if>
			</div>

			<div class="zv-single-facts nn-mb-7">
				<table class="zv-single-table">
					<f:if condition="{item.data.IncludeVakanzarten}">
						<tr>
							<td>Vakanzart:</td>
							<td>{item.data.Vakanzart}</td>
						</tr>
					</f:if>
					<f:if condition="{item.data.IncludeArbeitszeit}">
						<tr>
							<td>Arbeitszeit:</td>
							<td>{item.workHours}</td>
						</tr>
					</f:if>
					<f:if condition="{item.data.IncludeBeginn}">
						<tr>
							<td>ab Datum:</td>
							<td>{item.dateFrom->f:format.date(format:'d.m.Y')}</td>
						</tr>
					</f:if>
					<tr>
						<td>Ort:</td>
						<td>{item.location}</td>
					</tr>
					<tr>
						<td>Vertragsart:</td>
						<td>{item.data.Vertragsart}</td>
					</tr>
					<f:if condition="{item.salary}">
						<tr>
							<td>Vergütung:</td>
							<td>{item.salary}</td>
						</tr>
					</f:if>
					<f:if condition="{item.data.IncludeTarifvertrag}">
						<tr>
							<td>Tarifvertrag:</td>
							<td>{item.data.Tarifvertrag}</td>
						</tr>
					</f:if>
					<f:if condition="{item.data.IncludeEntgeltgruppe}">
						<tr>
							<td>Entgeltgruppe:</td>
							<td>{item.data.Entgeltgruppe}</td>
						</tr>
					</f:if>
				</table>
			</div>

			{f:render(partial:'Common/Elements', section:'btn-bookmark-w-text', arguments:_all)}

			{f:render(partial:'Common/Elements', section:'btn-apply', arguments:_all)}

		</div>
	</div>

</div>

<script type="application/ld+json">
	{item.data.JsonLd->zv:format.replaceJsonLdUrl()->f:format.raw()}
</script>