<!--
    ==============================================================
    EXT:zvoove/Resources/Private/Partials/Form/Default/Index.html
-->

<div class="zv-bg-grey nn-px-3 nn-p-md-5">
    <h2>{f:translate(id:'form.title')}</h2>
    <formvh:render persistenceIdentifier="{settings.persistenceIdentifier}" overrideConfiguration="{formDefinition}" />
</div>

<f:comment>
<!--
    Alternative approach? @see:
    https://sitegeist.de/blog/typo3-blog/typo3-form-framework-formulare-in-eigenen-extensions-nutzen.html
-->
</f:comment>
