<!--
	=======================================================
	EXT:zvoove/Resources/Private/Partials/Search/Form.html
-->

<f:form action="search" class="zv-bg-grey nn-px-3 nn-p-md-5 zv-search-form" method="get">
	
	<h2>
		{f:translate(id:'search.title')}
	</h2>

	<div class="nn-form-inline nn-mb-5">
		<f:render section="sword" arguments="{_all}" />
		<f:render section="city" arguments="{_all}" />
		<f:render section="radius" arguments="{_all}" />
		<f:render section="submit" arguments="{_all}" />
	</div>

	<div class="zv-job-filter">

		{nnt3:uniqid()->f:variable(name:'uid')}

		<div class="nn-pb-3 nn-d-md-flex">
			<button class="nn-mb-3" data-nn-toggle="collapse" data-nn-target=".zv-detail-filters-{uid}">
				{f:translate(id:'search.morefilters')} <i class="zic zic-arrow-down" aria-hidden="true"></i>
			</button>
			<button class="nn-mb-3 nn-ms-md-auto zv-reset-filters">
				<i class="zic zic-close"></i> {f:translate(id:'search.reset')}
			</button>
		</div>

		<div class="nn-collapse {f:if(condition:'{filters.gp.vaUuids} || {filters.gp.abtUuids}', then:'show')} zv-detail-filters-{uid}">

			<div class="nn-pb-6">
	
				<div class="nn-form-inline nn-mb-5">
					<f:for each="{filters.options}" as="config" key="key">
						<div class="nn-form-group nn-col-md-4 nn-pe-3">
							<div>
								{f:translate(id:'filters.{key}')->f:variable(name:'label')}
								<f:form.select data="{nn-multiselect:''}" additionalAttributes="{title:label}" multiple="1" options="{config.options}" value="{filters.gp.{config.queryParam}}" name="{config.queryParam}" class="nn-form-control" />
							</div>
						</div>
					</f:for>
				</div>
	
			</div>
		</div>

	</div>

</f:form>


<!--<f:comment>

	======================================================================================================================
	SECTIONS
	======================================================================================================================
		
</f:comment>-->


<f:section name="sword">
	<!--
		=======================================================
		EXT:zvoove/Resources/Private/Partials/Search/Form.html
		section: sword
	-->
	<div class="nn-form-group nn-flex-grow-1 nn-pe-3">
		<f:form.textfield class="nn-form-control zv-suggest-jobs" data="{zv-suggest:'{zv:uri.suggest(type:\'jobs\')}'}" tabindex="1" type="search" name="keywords" value="{filters.gp.keywords}" placeholder="{f:translate(id:'search.job')}" />
	</div>
</f:section>


<f:section name="city">
	<!--
		=======================================================
		EXT:zvoove/Resources/Private/Partials/Search/Form.html
		section: city
	-->
	<div class="nn-form-group nn-flex-grow-1 nn-pe-3">
		<div class="nn-input-group">
			<f:form.textfield name="location" class="nn-form-control zv-suggest-locations" data="{zv-input:'location', zv-suggest:'{zv:uri.suggest(type:\'locations\')}'}" tabindex="2" type="search" value="{filters.gp.location}" placeholder="{f:translate(id:'search.location')}" />
			<a href="#" type="button" title="Akuelle Position finden" class="zv-geoposition nn-input-group-text">
				<i class="zic zic-pin" data-nn-tooltip title="{f:translate(id:'search.locate')}"></i>
			</a>
		</div>
		<f:form.hidden name="lat" data="{zv-input:'lat'}" />
		<f:form.hidden name="lon" data="{zv-input:'lon'}" />
	</div>
</f:section>


<f:section name="radius">
	<!--
		=======================================================
		EXT:zvoove/Resources/Private/Partials/Search/Form.html
		section: radius
	-->
	<div class="nn-form-group nn-pe-3">
		<f:form.select name="radius" value="{filters.gp.radius}" class="nn-form-control" options="{
			30: '30 km',
			40: '40 km',
			50: '50 km',
			100: '100 km',
			200: '200 km'
		}" />
	</div>
</f:section>


<f:section name="submit">
	 <!--
		=======================================================
		EXT:zvoove/Resources/Private/Partials/Search/Form.html
		section: submit
	-->		
	<div class="form-group">
		<button type="submit" class="zv-search-submit nn-btn nn-btn-primary">
			<span>
				Finden <i class="zic zic-arrow-right nn-me--2"></i>
			</span>
		</button>
	</div>
</f:section>
