

[data-zv-toggle-wishlist] {
    cursor: pointer;
}

.zv-if-on-wishlist {
    display: none;
}

.zv-on-wishlist {
    .zv-if-on-wishlist {
        display: block;
    }    
    .zv-if-not-wishlist {
        display: none;
    }
}