
.zv-single {
	h2 {
		font-size: 1.7rem;
	}
}

.zv-single-table {
	width: 100%;
	td {
		border-bottom: 1px solid #ddd;
		padding: 0.25rem 0.5rem 0.25rem 0;
		&:first-child {
			padding-right: 1.5rem;
		}
		&:last-child {
			width: 100%;
		}
	}
}