.zv-form {
	max-width: 700px;
	.form-group {
		display: flex;
		margin: 0 0 0.5rem 0;
	}
	label {
		flex: 0 0 120px;
		max-width: 120px;
	}
	.input {
		flex-grow: 1;
	}
	select, input[type="text"] {
		display: block;
		width: 100%;
		padding: 0.3rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
	}
	.nn-form-check {
		label {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.btn.btn-primary {
		background: #475598;
		border: none;
		color: #fff;
		padding: 0 1.5rem;
		border-radius: 2rem;
		min-height: 2.3rem;
		display: inline-flex;
		white-space: nowrap;
		justify-content: center;
		align-items: center;
	}
}