

html {
	font-size: 16px;
}

body {
	font-size: 1rem;
}

.tx-zvoove {

	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
	font-weight: 300;
	line-height: 1.4;

	* {
		box-sizing: border-box;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	p {
		margin: 0 0 0.3rem 0;
		line-height: 1.5;
	}
	ul {
        padding: 0 0 0 1rem;
		line-height: 1.5;
    }
	li {
		margin-bottom: 0.25rem;
	}
	hr {
		border: none;
		border-top: 1px solid #ccc;
	}
	button {
		background: transparent;
		border: none;
		appearance: none;
		cursor: pointer;
		font-size: 1rem;
	}
	h1, h2, h3 {
		padding: 0;
	}
	h1 {
		font-weight: 200;
		font-size: 2.5rem;
		margin: 0 0 0.5rem 0;
	}
	h2 {
		font-weight: 200;
		font-size: 2rem;
		margin: 0 0 1rem 0;
	}
	h3 {
        font-weight: 300;
        font-size: 1.3rem;
        margin: 0 0 0.75rem 0;
    }

	.nn-btn {
		padding: 0 1.5rem;
		border-radius: 2rem;
		min-height: 2.3rem;
		display: inline-flex;
		white-space: nowrap;
		justify-content: center;
		align-items: center;
		&.nn-btn-primary {
			background: $color-primary;
			border: none;
			color: #fff;
		}
		&.nn-btn-secondary {
			background: $color-secondary;
			border: none;
			color: #fff;
		}
	}

	.nn-btn-circle {
		padding: 0;
		font-size: 1.3rem;
		border-radius: 2rem;
		width: 35px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $color-primary;
		border: none;
		color: #fff;
		cursor: pointer;
		-ms-flex-negative: 1;
		flex-shrink: 1;
	}
}

.zv-bg-grey {
	background-color: #eee;
}

.zv-bg-white {
	background-color: #fff;
}

.zv-shadow {
	box-shadow: 0 1px 2px rgba(#000,0.1);
}

.zic {
	&:before {
		position: relative;
		top: 1px;
	}
}


.zv-remove-wishlist {
	font-size: 1.3rem;
}

.nn-spinner {
	pointer-events: none;
	position: relative;
}

.nn-spinner span,
.nn-spinner i {
	opacity: 0;
}

.nn-spinner:after {
	font-family: 'zvoove';
	font-weight: 900;
	content: "\e915";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: nn-spinner-animation 1s infinite linear;
}

@keyframes nn-spinner-animation {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.nn-btn-circle {
	font-size: 1.3rem;
	cursor: pointer;
}

.nn-btn-circle .text {
	font-size: 1rem;
}

.nn-btn-circle.on-wishlist .glyphicon-wishlist {
	color: #f8b208;
}