
.zv-list-legend {
    font-size: 0.9rem;
    color: #777;
    a {
        text-decoration: underline;
    }
}

.zv-list-results {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.zv-list-item {
    border: 1px solid #eee;
    p {
        margin: 0;
        color: #777;
    }
}