<f:layout name="Module" />

<f:section name="content">

	<div class="navbar nn-px-9 nn-py-4 nn-d-flex">
		<a href="{f:uri.action(action:'syncAll')}" data-init="{f:uri.action(action:'resetSync')}" class="nn-btn nn-btn-primary sync-all">
			<i class="fas fa-sync nn-me-2"></i>
			<f:translate key="LLL:EXT:zvoove/Resources/Private/Language/locallang_db.xlf:sync-all" />
		</a>
		<div class="nn-ms-auto last-sync">
			<f:if condition="{lastRun}">
				<f:translate key="LLL:EXT:zvoove/Resources/Private/Language/locallang_db.xlf:last-sync" />:
				{lastRun->f:format.date(format:'d.m.Y H:i')}
			</f:if>
		</div>
		<div class="progress"></div>
	</div>

	<main class="nn-p-4 nn-mt-5">

		{nnt3:flashMessages()}

		<f:if condition="!{entries}">
			<h3>zvoove</h3>
			<p>
				<f:translate key="LLL:EXT:zvoove/Resources/Private/Language/locallang_db.xlf:no-jobs" />:
			</p>
		</f:if>

		<f:if condition="{entries}">

			<div class="nn-d-flex nn-py-5">
				<h3>zvoove</h3>
				<div class="nn-ms-auto nn-pt-5">
					<div class="nn-input-group">
						<input type="text" class="search nn-form-control" />
						<div class="nn-input-group-append">
							<span class="nn-input-group-text h-100">
								<i class="search-icon fas fa-search"></i>
								<i class="clear-icon fas fa-times"></i>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="job-list mt-3">
				<f:for each="{entries}" as="entry">
					<div class="job-item nn-mb-2 nn-p-3">
						<h4>{entry.title}</h4>
						<p>
							<i class="fas fa-map-marker-alt nn-me-2"></i>
							{entry.zip} {entry.location}
	
							<i class="fas fa-suitcase nn-ms-4 nn-me-2"></i>
							{entry.contract}
							
							<i class="fas fa-calendar nn-ms-4 nn-me-2"></i>
							{entry.date_from->f:format.date(format:'d.m.Y')}
						</p>
					</div>
				</f:for>
			</div>

		</f:if>
		

	</main>

</f:section>