{namespace zv=Nng\Zvoove\ViewHelpers}

<!--
	=======================================================
	EXT:zvoove/Resources/Private/Partials/Cart/Index.html
-->

<div class="zv-bg-grey nn-px-3 nn-p-md-5">

	{f:render(partial:'Common/Elements', section:'nav-back')}

	<div class="nn-d-md-flex nn-align-items-end">
		
		<h2>{f:translate(id:'wishlist.title')}</h2>

		<div class="zv-list-legend nn-ms-auto nn-pb-5">
			<button zv-wishlist-delete-all>
				<i class="zic zic-trash"></i>
				{f:translate(id:'wishlist.clear')}
			</button>
		</div>	
	
	</div>

	<f:if condition="!{jobs}">
		<p>{f:translate(id:'wishlist.empty')}</p>
	</f:if>

	<f:if condition="{jobs}">
		<div class="zv-list-results">
			<ul>
				<f:for each="{jobs}" as="item">
					<f:render partial="Cart/Default/Item" arguments="{_all}" />
				</f:for>
			</ul>
		</div>

	</f:if>		
	
</div>
