{namespace zv=Nng\Zvoove\ViewHelpers}

<!--
    =================================================================
    EXT:zvoove/Resources/Private/Partials/Form/ZvooveJobtitle.html
-->


<formvh:renderRenderable renderable="{element}">

    {f:if(condition:element.defaultValue, then:element.defaultValue, else:'{f:translate(id:\'LLL:EXT:zvoove/Resources/Private/Language/locallang.xlf:apply.initial\')}')->f:variable(name:'label')}

    <div class="{f:if(condition:element.properties.hidden, then:'nn-d-none')}">
        <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
            <f:if condition="{element.properties.elementDescription}">
                <f:variable name="aria" value="{describedby: '{element.uniqueIdentifier}-desc'}"/>
            </f:if>
            <f:if condition="{validationResults.errors}">
                <f:variable name="aria" value="{invalid: 'true', describedby: '{element.uniqueIdentifier}-errors'}"/>
            </f:if>
    
            <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
                <f:form.textfield
                    disabled="1"
                    property="{element.identifier}"
                    id="{element.uniqueIdentifier}"
                    value="{label}"
                    class="{element.properties.elementClassAttribute} zv-jobtitle nn-form-control"
                    errorClass="{element.properties.elementErrorClassAttribute}"
                    additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                />
            </f:render>
        </f:form.validationResults>
    </div>
</formvh:renderRenderable>