{namespace zv=Nng\Zvoove\ViewHelpers}

<!--
    =================================================================
    EXT:zvoove/Resources/Private/Partials/Form/ZvooveCheckbox.html
-->

{nnt3:uniqid()->f:variable(name:'uniqid')}

<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
        <div class="nn-form-check">
            <f:form.checkbox
                property="{element.identifier}"
                id="{uniqid}"
                class="{element.properties.elementClassAttribute} nn-form-check-input"
                value="{element.properties.value}"
                errorClass="{element.properties.elementErrorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
            />
            <label class="{element.properties.elementClassAttribute} nn-form-check-label" for="{uniqid}">
                {element.properties.text->zv:form.replacePlaceholders(pid:element.properties.pageUid, target:element.properties.newTab)}
                <f:if condition="{element.required}"><f:render partial="Field/Required" /></f:if>    
            </label>
        </div>
    </f:render>
</formvh:renderRenderable>