{namespace zv=Nng\Zvoove\ViewHelpers}

<!--
    =================================================================
    EXT:zvoove/Resources/Private/Partials/Form/ZvooveDropdown.html
-->

<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
        <zv:form.upload
            multiple="true"
            property="{element.identifier}"
            as="resource"
            id="{element.uniqueIdentifier}"
            class="{element.properties.elementClassAttribute} nn-form-control zv-fileupload"
            errorClass="{element.properties.elementErrorClassAttribute}"
            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
            accept="{element.properties.allowedMimeTypes}"
        >
            <f:if condition="{resource}">
                <div id="{element.uniqueIdentifier}-preview">
                    {resource.originalResource.originalFile.name}
                </div>
            </f:if>
        </zv:form.upload>
    </f:render>
</formvh:renderRenderable>
