{namespace zv=Nng\Zvoove\ViewHelpers}

<!--
    =================================================================
    EXT:zvoove/Resources/Private/Partials/Form/ZvooveDropdown.html
-->

<formvh:renderRenderable renderable="{element}">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:if condition="{element.properties.elementDescription}">
            <f:variable name="aria" value="{describedby: '{element.uniqueIdentifier}-desc'}"/>
        </f:if>
        <f:if condition="{validationResults.errors}">
            <f:variable name="aria" value="{invalid: 'true', describedby: '{element.uniqueIdentifier}-errors'}"/>
        </f:if>

        <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
            <f:form.select
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"
                options="{zv:api.katalogOptions(path:element.properties.zvDropdownType)}"
                class="{element.properties.elementClassAttribute}"
                errorClass="{element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
            />
        </f:render>
    </f:form.validationResults>
</formvh:renderRenderable>

