<!--
	==============================================================
	EXT:zvoove/Resources/Private/Partials/List/Default/Index.html
-->

<div class="zv-bg-grey nn-px-3 nn-p-md-5">
	
	<div class="nn-d-md-flex nn-align-items-end">
		
		<h2 class="zv-list-status">
			<span data-zv-total>{total}</span>
			{f:translate(id:'list.found')}
		</h2>

		<div class="zv-list-legend nn-ms-auto nn-pb-5">
			<i class="zic zic-bookmark"></i>
			{f:translate(id:'wishlist.label')->f:link.typolink(parameter:settings.bookmarksPid)->f:variable(name:'linkBookmarks')}
			= {f:translate(id:'wishlist.legend', arguments:'{0:linkBookmarks}')->f:format.raw()}
		</div>	
	
	</div>

	<div class="zv-list-results">

		<ul>
			<f:for each="{paginator.paginatedItems}" as="item">
				{f:render(partial:'List/Default/Item', arguments:_all)}
			</f:for>
		</ul>

	</div>

	{f:render(partial:'Common/Pagination', arguments:_all)}

</div>