<!--
	=====================================================
	EXT:zvoove/Resources/Private/Partials/List/Item.html
-->

<li data-job-id="{item.uid}" class="zv-list-item zv-bg-white zv-shadow nn-p-4 nn-p-md-7 nn-mb-2 nn-d-md-flex">
	
	{f:render(partial:'Common/Elements', section:'job-title', arguments:_all)}

	<div class="nn-ms-auto nn-pt-5 nn-pt-md-0 nn-d-flex nn-align-items-start">
		
		{f:render(partial:'Common/Elements', section:'btn-bookmark', arguments:_all)}

		{f:render(partial:'Common/Elements', section:'btn-details', arguments:_all)}

	</div>
</li>