<f:section name="job-title">
    
    <!--
        ===========================================================
        EXT:zvoove/Resources/Private/Partials/Common/Elements.html
        section: job-title
    -->
    
    <f:link.action pageUid="{settings.detailPid}" arguments="{stelle:item.uid}" controller="Main" action="show">
    
        <h3>{item.title}</h3>
    
        <p class="nn-d-flex nn-flex-column nn-flex-md-row">
            <f:if condition="{item.location}">
                <span class="nn-me-3 nn-mb-1">
                    <i class="zic zic-pin nn-me-1" aria-hidden="true"></i>
                    {item.zip} {item.location}
                </span>
            </f:if>
    
            <f:if condition="{item.contract}">
                <span class="nn-me-3 nn-mb-1">
                    <i class="zic zic-business nn-me-1" aria-hidden="true"></i>
                    {item.contract}
                </span>
            </f:if>
    
            <f:if condition="{item.dateFrom}">
                <span class="nn-me-3 nn-mb-1">
                    <i class="zic zic-calendar nn-me-1" aria-hidden="true"></i>
                    {item.dateFrom->f:format.date(format:'d.m.Y')}
                </span>
            </f:if>
        </p>
    
    </f:link.action>

</f:section>


<f:section name="btn-bookmark-icon">
    <!--
        ===========================================================
        EXT:zvoove/Resources/Private/Partials/Common/Elements.html
        section: btn-bookmark-icon
    -->
    <span class="nn-btn nn-btn-circle nn-me-4">
        <i class="zv-if-on-wishlist zic zic-star-filled" aria-hidden="true"></i>
        <i class="zv-if-not-wishlist zic zic-bookmark" aria-hidden="true"></i>
    </span>
</f:section>


<f:section name="btn-bookmark">
    <!--
        ===========================================================
        EXT:zvoove/Resources/Private/Partials/Common/Elements.html
        section: btn-bookmark
    -->
    <button data-nn-tooltip data-zv-toggle-wishlist="{item.uid}" title="{f:translate(id:'wishlist.add')}" data-title-remove="{f:translate(id:'wishlist.remove')}" class="nn-ms-auto">
        {f:render(section:'btn-bookmark-icon')}
    </button>
</f:section>


<f:section name="btn-bookmark-w-text">
    <!--
        ===========================================================
        EXT:zvoove/Resources/Private/Partials/Common/Elements.html
        section: btn-bookmark-w-text
    -->
    <div class="nn-d-flex nn-align-items-center nn-pb-7" data-zv-toggle-wishlist="{item.uid}">		
        {f:render(section:'btn-bookmark-icon')}
        <span class="zv-if-on-wishlist">
            {f:translate(id:'wishlist.on')}
        </span>
        <span class="zv-if-not-wishlist">
            {f:translate(id:'wishlist.off')}
        </span>
    </div>
</f:section>


<f:section name="nav-back">
    <!--
        ===========================================================
        EXT:zvoove/Resources/Private/Partials/Common/Elements.html
        section: nav-back
    -->
    <f:if condition="{settings.listPid}">
		<f:link.typolink parameter="{settings.listPid}">
			<i class="zic zic-arrow-left"></i>
			{f:translate(id:'search.label')}
		</f:link.typolink>
		<hr class="nn-my-5" />
	</f:if>
</f:section>


<f:section name="btn-trash">
    <!--
        ===========================================================
        EXT:zvoove/Resources/Private/Partials/Common/Elements.html
        section: btn-trash
    -->
    <button data-nn-tooltip data-zv-remove-wishlist="{item.uid}" title="{f:translate(id:'wishlist.remove')}" class="nn-ms-auto nn-me-md-4 nn-btn nn-btn-circle">
        <i class="zic zic-trash" aria-hidden="true"></i>
    </button>
</f:section>


<f:section name="btn-details">
    <!--
        ===========================================================
        EXT:zvoove/Resources/Private/Partials/Common/Elements.html
        section: btn-details
    -->
    <f:link.action pageUid="{settings.detailPid}" arguments="{stelle:item.uid}" controller="Main" action="show" class="nn-btn nn-btn-primary nn-me-4">
        {f:translate(id:'job.show')}
    </f:link.action>
</f:section>


<f:section name="btn-apply">
    <!--
        ===========================================================
        EXT:zvoove/Resources/Private/Partials/Common/Elements.html
        section: btn-apply
    -->
    <f:link.action data="{title:'{item.title} [Job-Nr. {item.data.StellenID}]', uid:item.uid, refnum:item.data.StellenID}" pluginName="form" action="form" pageUid="{settings.applicationFormPid}" arguments="{stelle:item.uid}" class="nn-btn nn-btn-primary nn-me-4 zv-apply">
        <i class="zic zic-arrow-right nn-ms--2 nn-me-1"></i>
        {f:translate(id:'apply')}
    </f:link.action>
</f:section>


<f:section name="btn-list">
    <!--
        ===========================================================
        EXT:zvoove/Resources/Private/Partials/Common/Elements.html
        section: btn-list
    -->
    <f:link.page pageUid="{settings.listPid}" class="nn-btn nn-btn-secondary nn-me-4">
        {f:translate(id:'search.label')}
    </f:link.page>
</f:section>