<!--
	===========================================================
	EXT:zvoove/Resources/Private/Partials/Pagination.html
-->

<f:if condition="{paginator.numberOfPages} > 1">
	<nav aria-label="page navigation" class="zv-pagination nn-d-flex">
		<ul class="nn-pagination nn-mx-auto">
			<li class="nn-page-item {f:if(condition:pagination.previousPageNumber, else:'disabled')}">
				<f:link.action action="list" arguments="{currentPage:pagination.previousPageNumber}" class="nn-page-link">
					<span aria-hidden="true">&laquo;</span>
					<span class="nn-visually-hidden">{f:translate(id:'pagination.prev')}</span>
				</f:link.action>
			</li>
			<f:for each="{pagination.allPageNumbers}" as="pageNum">
				<li class="nn-page-item {f:if(condition:'{paginator.currentPageNumber} == {pageNum}', then:'active')}">
					<f:link.action action="list" arguments="{currentPage:pageNum}" class="nn-page-link">
						{pageNum}
					</f:link.action>
				</li>
			</f:for>
			<li class="nn-page-item {f:if(condition:pagination.nextPageNumber, else:'disabled')}">
				<f:link.action action="list" arguments="{currentPage:pagination.nextPageNumber}" class="nn-page-link">
					<span aria-hidden="true">&raquo;</span>
					<span class="nn-visually-hidden">{f:translate(id:'pagination.next')}</span>
				</f:link.action>
			</li>
		</ul>
	</nav>
</f:if>