<!--
	===========================================================
	EXT:zvoove/Resources/Private/Partials/Share.html
-->

{f:uri.page(pageUid:'', absolute:1, addQueryString:1)->f:variable(name:'url')}

<div class="zv-share nn-d-flex nn-align-items-center">

	{f:translate(id:'share.label')}:

	<a href="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url={url}" class="nn-ms-5 nn-me-2">
		<i class="zic zic-xing"></i>
	</a>

	<a href="http://www.linkedin.com/shareArticle?mini=true&url={url}&title={previewTitle}&summary={previewText}&source={url}" class="nn-mx-2">
		<i class="zic zic-linkedin"></i>
	</a>
	
	<a href="mailto:?subject={job.titel}&body={url}" class="nn-mx-2">
		<i class="zic zic-at"></i>
	</a>
	
	<a href="whatsapp://send?text=Schau%20mal%20diesen%20Job%20an:%0D%0D{url}" class="nn-mx-2">
		<i class="zic zic-whatsapp"></i>
	</a>
	
	<a href="http://www.facebook.com/sharer/sharer.php?u={url}" class="nn-mx-2">
		<i class="zic zic-facebook"></i>
	</a>

</div>
