<!--
	========================================================================
	EXT:nnrestapi/Resources/Private/Backend/Layouts/Module.html
-->
<link rel="stylesheet" href="/typo3conf/ext/nnhelpers/Resources/Public/Vendor/fontawesome/css/all.css" />
<link rel="stylesheet" href="/typo3conf/ext/nnhelpers/Resources/Public/Css/styles.css" />
<link rel="stylesheet" href="/typo3conf/ext/zvoove/Resources/Public/Dist/backend.min.css" />

<div class="nnhelpers-be-module zvoove-be-module">
	<div class="nn-ps-0">
		<f:render section="content"/>
	</div>
</div>
