{namespace zv=Nng\Zvoove\ViewHelpers}

<f:layout name="Default" />

<f:section name="Main">

	<!--
		=======================================================
		EXT:zvoove/Resources/Private/Templates/Main/Form.html
	-->

	{nnt3:ts.page(path:'tx_zvoove.templateLayouts.form.{settings.templateLayout}')->f:variable(name:'templateSettings')}

	<div class="zv-form zv-form-{settings.templateLayout}">
		<f:render partial="Form/{templateSettings.template}/Index" arguments="{_all}" optional="1">
			<p>Could not find the Partial: <code>Partial/Form/{template}/Index.html</code></p>
		</f:render>
	</div>

</f:section>
