{namespace zv=Nng\Zvoove\ViewHelpers}

<f:layout name="Default" />

<f:section name="Main">

	<!--
		===================================================================
		EXT:zvoove/Resources/Private/Templates/Main/List.html
	-->

	{nnt3:ts.page(path:'tx_zvoove.templateLayouts.list.{settings.templateLayout}')->f:variable(name:'templateSettings')}

	<div class="zv-list zv-list-{templateSettings.template}">
		<f:render partial="List/{templateSettings.template}/Index" arguments="{_all}" optional="1">
			<p>Could not find the Partial: <code>Partial/List/{templateSettings.template}/Index.html</code></p>
		</f:render>
	</div>

</f:section>
