{namespace zv=Nng\Zvoove\ViewHelpers}

<f:layout name="Default" />

<f:section name="Main">

	<!--
		===================================================================
		EXT:zvoove/Resources/Private/Templates/Main/Search.html
	-->

	{nnt3:ts.page(path:'tx_zvoove.templateLayouts.search.{settings.templateLayout}')->f:variable(name:'templateSettings')}

	<div class="zv-search zv-search-{templateSettings.template}">
		<f:render partial="Search/{templateSettings.template}/Index" arguments="{_all}" optional="1">
			<p>Could not find the Partial: <code>Partial/Search/{templateSettings.template}/Index.html</code></p>
		</f:render>
	</div>

</f:section>
