{namespace zv=Nng\Zvoove\ViewHelpers}

<f:layout name="Default" />

<f:section name="Main">

	<!--
		=======================================================
		EXT:zvoove/Resources/Private/Templates/Main/Show.html
	-->

	{nnt3:ts.page(path:'tx_zvoove.templateLayouts.show.{settings.templateLayout}')->f:variable(name:'templateSettings')}

	<f:if condition="{item}">
		<div class="zv-show zv-show-{settings.templateLayout}">
			<f:render partial="Show/{templateSettings.template}/Index" arguments="{_all}" optional="1">
				<p>Could not find the Partial: <code>Partial/Show/{template}/Index.html</code></p>
			</f:render>
		</div>
	</f:if>

</f:section>
