.nnhelpers-be-module {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
}

.nnhelpers-be-module.scrollable {
    max-height: 100vh;
    overflow-y: auto;
}

.nnhelpers-be-module a {
    text-decoration: none;
}

.job-item {
    border: 1px solid #ddd;
}

.job-item p {
    margin: 0;
}

.nn-form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}


h3, h4, p {
    font-weight: 300;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.3rem;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #ddd;
}

.nn-btn:active,
.nn-btn:hover,
.nn-btn:focus,
.nn-btn-primary {
    color: #fff;
    padding: 0.3rem 0.75rem;
    background: #1d395b;
    box-shadow: none;
    font-size: 0.9rem;
}

.nn-btn-primary i {
    color: #fff;    
}

.progress {
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 5px;
    background: #19b6ca;
    width: 100%;
    opacity: 0;
    transition: 0.4s all;
}

.loading .progress {
    opacity: 1;
}

.loading .sync-all {
    pointer-events: none;
    opacity: 0.2;
}

.loading .job-list {
    opacity: 0.2;
}

.nn-form-control.search {
    border-radius: 15px 0 0 15px;
    border-right: none;
    padding-left: 15px;
    height: 30px;
    font-size: 0.9rem;
}

.search ~ .nn-input-group-append {
    width: 40px;
    height: 30px;
    padding-top: 3px;
    border-radius: 0 15px 15px 0;
    border: 1px solid #ced4da;
    border-left: none;
}


.search ~ .nn-input-group-append .nn-input-group-text {
    border-radius: 0 15px 15px 0;
    background: transparent;
}

.clear-icon {
    display: none;
    cursor: pointer;
}